table {
  background: #fff;
  margin-bottom: 1.2rem;
  border: solid 1px #CCE5E8;

  width: 100%;

  thead {
    font-weight: bold;
  }

  caption {
    text-align: left;
    font-size: 1.22rem;
    margin-bottom: 1rem;
  }

  td {
    padding: 0.2rem 0.7rem 0.3rem;
    border: none;
    background-color: #EBF8FA;
    max-width: 5rem;

    &:nth-child(even) {
      background-color: #DCF2F5;
    }
  }
}

.pagination {
  list-style: none outside none;
  margin-left: 0;
  padding: 0;
  align: center;

  li {
    background-color: #0ac5f4;
    display: inline;
    padding: 0.3rem 0.7rem;
    margin-right: 0.5rem;
    border-radius: 0.2rem;
  }

  .active {
    background-color: #078AAB;
  }

  a {
    font-weight: bold;
    color: #fff;
    text-decoration: none;
  }
}

