.windtalkers-widget {

  font: {
    family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    weight: 300;
    size: 14px;
  }
  color: #333333;

  .hidden {
    display: none;
  }

  // import into .windtalkers-widget "namespace"
  @import "tables";
  @import "graph";
  @import "modal";
  @import "map";
}